res/docs/IDPA/save_email_attachments.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"onedriveforbusiness_Connection_Name":{"defaultValue":"onedriveforbusiness","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnNewEmailV3"}},"type":"ApiConnectionNotification","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"fetch":{"queries":{"folderPath":"Inbox","importance":"Any","fetchOnlyWithAttachment":true,"includeAttachments":false},"pathTemplate":{"template":"/v3/Mail/OnNewEmail"},"method":"get"},"subscribe":{"queries":{"folderPath":"Inbox","importance":"Any","fetchOnlyWithAttachment":true},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"pathTemplate":{"template":"/GraphMailSubscriptionPoke/$subscriptions"},"method":"post"},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"cyrill.engeli@altekanti.ch","actions":{"Apply_to_each":{"foreach":"@triggerBody()?['attachments']","actions":{"Create_file":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['onedriveforbusiness']['connectionId']"}},"method":"post","body":"@item()?['Content']","path":"/datasets/default/files","queries":{"folderPath":"/IDPA/Informatikmitteleinsatz in Unternehmen/E-Mail Anhänge","name":"@{item()?['Name']}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@triggerBody()?['from']","type":"Switch"}}},"parameters":{"$connections":{"value":{"onedriveforbusiness":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]","connectionName":"[parameters('onedriveforbusiness_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('onedriveforbusiness_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]"},"displayName":"[parameters('onedriveforbusiness_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}}]}